@charset "utf-8";
#zemin {
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	height: auto;
	width: 980px;
}

#banner  {
	height: 141px;
	width: 980px;
}
#logo   {
	height: 141px;
	width: 292px;
}
#menu   {
	background-color: #999;
	height: 30px;
	width: 980px;
}
#menu ul   {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#menu ul li   {
	float: left;
}
#menu ul li a   {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	height: 23px;
	width: 140px;
	padding-top: 7px;
	text-align: center;
	display: block;
}
#menu ul li a:hover {
	color: #C62F1E;
	background-color: #993;
}

#orta_banner   {
	height: 253px;
	width: 980px;
	padding-top: 10px;
}
#baslik   {
	padding-top: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #993;
	font-style: normal;
	line-height: 20px;
	text-decoration: underline;
	font-weight: bold;
	background-color: #FFF;
	text-align: left;
	padding-left: 20px;
}

#baslik h3   {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #993;
}
#icerik   {
	height: 340px;
	width: 980px;

}
#icerik1    {
	float: left;
	height: 340px;
	width: 222px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993;
}
#icerik2    {
	float: left;
	height: 340px;
	width: 222px;
	margin-right: 20px;
	margin-left: 20px;
	color: #993;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
#icerik3    {
	float: left;
	height: 340px;
	width: 222px;
	margin-right: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #993;
}
#icerik4    {
	float: left;
	height: 340px;
	width: 222px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993;
}
#icerik1 h4    {
	color: #993;
}
#icerik2 h4    {
	color: #993;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}
#icerik3 h4    {
	color: #993;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}
#icerik4 h4    {
	color: #993;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}
#icerik1 h4 {
	font-family: Verdana, Geneva, sans-serif;
	color: #993;
	font-size: 16px;
}
#icerik1 p    {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #963;
}


#icerik2 p    {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #963;
}
#icerik3 p    {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #963;
}
#icerik4 p    {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #963;
}
#icerik_temizle {
	clear: both;
}
#copyrıght {
	height: 100px;
	width: 980px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #993;
}
#cizgi {
	height: 10px;
	width: 980px;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #CE331F;
}
#devam1 {
	height: 22px;
	width: 82px;
	background-image: url(images/devam%C4%B1.jpg);
	text-align: center;
	padding-top: 8px;
}
#devam2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #993;
	background-image: url(images/devam%C4%B1.jpg);
	height: 22px;
	width: 82px;
	padding-top: 8px;
	text-align: center;
}
#devam3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #993;
	background-image: url(images/devam%C4%B1.jpg);
	text-align: center;
	height: 22px;
	width: 82px;
	padding-top: 8px;
}
#devam4 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #993;
	background-image: url(images/devam%C4%B1.jpg);
	text-align: center;
	height: 22px;
	width: 82px;
	padding-top: 8px;
}
