/* CSS Document */

#dis {
	height: 36cm;
	width: 36cm;
	background-color: black;

}

#ickare {
	height: 32cm;
	width: 32cm;
	padding: 3px;
	border: 2cm solid grey;
}

.satir {
	height: 4cm;
}

.beyazkare {
	background-color: #FFF;
	height: 4cm;
	width: 4cm;
	float: left;
}

.siyahkare {
	background-color: #000;
	height: 4cm;
	width: 4cm;
	float: left;
}