@charset "utf-8";
body {
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #309;
	/*günnur
	ıoıopuıopuıopuıop
	ooopgıopgopgıopıop
	huıoguıgu*/
	text-decoration: underline;
	background-color: #CF0;
}
